Source: qimageblitz
Priority: optional
Section: libs
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Sune Vuorela <sune@debian.org>, Modestas Vainius <modax@debian.org>
Build-Depends: cmake,
               debhelper (>= 9),
               libqt4-dev (>= 4.4.0~),
               pkg-kde-tools (>= 0.12)
Standards-Version: 3.9.2
Homepage: http://www.kde.org/
Vcs-Git: git://anonscm.debian.org/pkg-kde/kde-req/qimageblitz.git
Vcs-Browser: http://anonscm.debian.org/cgit/pkg-kde/kde-req/qimageblitz.git

Package: libqimageblitz4
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: QImageBlitz image effects library
 QImageBlitz is an interim graphical effect and filter library for KDE that
 contains many improvements over KDE 3.x's kdefx library, including bugfixes
 and speed improvements.

Package: libqimageblitz-dev
Section: libdevel
Architecture: any
Depends: libqimageblitz4 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: development files for the QImageBlitz image effects library
 QImageBlitz is an interim graphical effect and filter library for KDE that
 contains many improvements over KDE 3.x's kdefx library, including bugfixes
 and speed improvements.
 .
 This package contains development files for building software that uses the
 QImageBlitz library.

Package: libqimageblitz-dbg
Section: debug
Priority: extra
Architecture: any
Depends: libqimageblitz4 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: debugging symbols for the QImageBlitz image effects library
 QImageBlitz is an interim graphical effect and filter library for KDE that
 contains many improvements over KDE 3.x's kdefx library, including bugfixes
 and speed improvements.
 .
 This package contains debugging files used to investigate problems with
 binaries included in the QImageBlitz packages.
