Source: qimageblitz
Priority: optional
Section: libs
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Sune Vuorela <debian@pusling.com>
Build-Depends: debhelper (>= 5), cdbs, cmake, quilt, libqt4-dev
Standards-Version: 3.7.3
Homepage: http://www.kde.org/

Package: libqimageblitz4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: KDE/Qt image filter library
 Blitz is an interim graphical effect and filter library for KDE 4.0 that
 contains many improvements over KDE 3.x's kdefx library, including bugfixes
 and speed improvements.  It is expected to be replaced by Quasar for KDE 4.1.

Package: libqimageblitz4-dbg
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqimageblitz4 (= ${binary:Version})
Description: Debugging symbols for qimageblitz
 Blitz is an interim graphical effect and filter library for KDE 4.0 that
 contains many improvements over KDE 3.x's kdefx library, including bugfixes
 and speed improvements.  It is expected to be replaced by Quasar for KDE 4.1.
 .
 This package contains the debugging symbols for qimageblitz.

Package: libqimageblitz-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: KDE/Qt image filter library - development files
 Blitz is an interim graphical effect and filter library for KDE 4.0 that
 contains many improvements over KDE 3.x's kdefx library, including bugfixes
 and speed improvements.  It is expected to be replaced by Quasar for KDE 4.1.
 .
 This is the development package which contains headers and static libraries 
 for qimageblitz.
