Source: qimageblitz
Priority: optional
Section: libs
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Sune Vuorela <debian@pusling.com>
Build-Depends: debhelper (>= 5), cdbs, cmake, quilt, libqt4-dev
Standards-Version: 3.7.2
Homepage: http://www.kde.org/

Package: libqimageblitz4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: KDE/Qt image filter library
 Blitz is a graphical effect and filter library for KDE 4.0 that contains
 many improvements over KDE 3.x's kdefx library including bugfixes,
 memory and speed improvements, and MMX/SSE support.

Package: libqimageblitz-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: KDE/Qt image filter library - development files
 Blitz is a graphical effect and filter library for KDE 4.0 that contains
 many improvements over KDE 3.x's kdefx library including bugfixes,
 memory and speed improvements, and MMX/SSE support.
