#!/usr/bin/make -f
THIS_SHOULD_GO_TO_UNSTABLE=1
include debian/cdbs/kde.mk
include debian/cdbs/cpu-optimize.mk

DEB_CMAKE_EXTRA_FLAGS += \
			$(shell echo $(foreach cpuopt,$(DEB_BUILD_ARCH_CPU_OPT),-DHAVE_$(cpuopt):BOOL=ON) | tr '[:lower:]' '[:upper:]')
