#!/usr/bin/make -f


include /usr/share/pkg-kde-tools/qt-kde-team/1/debian-qt-kde.mk
include debian/cpu-optimize.mk

DEB_CMAKE_EXTRA_FLAGS += \
			$(shell echo $(foreach cpuopt,$(DEB_BUILD_ARCH_CPU_OPT),-DHAVE_$(cpuopt):BOOL=ON) | tr '[:lower:]' '[:upper:]')
